* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#encabezado{
    width: 100%; 
    background: #fdf9ee;  
    z-index: 9999;
}
#logo > img{
    max-width: 3.5rem;
    width: 100%;
}
.fa-user{
    color: #c7a762;
    font-size: 1.5rem;
}
.form-control:focus{
    border: 2px solid#c7a762;
    border-color: #c7a762!important;
    box-shadow: none;
}
a:hover{
    border-bottom: 2px solid#c7a762 ;
}
.nav-link:focus{
    color:#c7a762;
} 
.nav-link:hover {
    color:#c7a762 ;
}
.dropdown-toggle:hover{
    color:#1d1d1d ;
}
.productos{
    max-width: 300px;
}
.thumb > img{
    max-width: 300px;
    width: 100%;
}
#imgDestacados img{
    max-width: 300px;
    width: 100%;
}
.thumbDestacados{
    width: 100%;
    max-width: 300px; 
}
.item-1{
    /* width: 100%; */
    max-width: 580px; 
}
.item-2-3{
    max-width: 560px;
    max-height: 510px;
    height: 100%;
}
.item-2,
.item-3{
    max-width: 560px;
    max-height:243px;
}
.item-1 img{
    max-width: 580px;
    width: 100%;
    height: auto;
}
.item-3 img,
.item-2 img{
    max-width: 560px;
    width: 100%;
    max-height:240px;
    height: 100%;
}
.banner2{
    max-width: 1200px;
    height: 100%;
    max-height: 510px;
}
.bg-banner-4{
    background: url('../imagenes/banner-4.jpg') center center no-repeat;background-size:120%;
    width: 100%;
    height: 100%;
    max-height: 550px;
}
.item-1:hover,
.item-2:hover,
.item-3:hover{
    transform: scale(1.1,1.1);
}
#maps iframe {
    border: 0;
    width: 100%;
    max-width: 450px;
    height: 350px;
}
#maps{
    width: 100%;
    max-width: 450px;
}
#formContacto{
    width: 100%;
    max-width: 450px;
    height: 350px;
}
.form-select,
.form-control{
    border: 1px solid #c7a762;
    width: 100%;
}
#exampleFormControlTextarea1{
    height: 180px;
}
.form-control:focus{
    border: 2px solid #c7a762;
    outline: none;
}
.dropdown-item:hover{
    background: #c7a762;
    color: white;
}
.registro{
    height: 350px;
}
#formCuenta,
#formRegistro{
    background: #fdf9ee;
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}
#from{
    width: 130px;
    border: white;
}
#footer{
    margin: 1rem 0 0 0;
    background:  #1d1d1d;
    width: 100%;
    max-height: 260px;
    height: 100%;
    color: #c7a762;
}
.colorBrown{
    color: #c7a762;
}
.btn{
    padding: 0.5rem;
    background: #c7a762; 
    color: white;
    border: outset;
    opacity: 80%;
}
.btn:hover{
    background: #c7a762;
    opacity: 100;
    box-shadow: none;
    border-color: white;
}
.btn:focus{
    background: #1d1d1d;
    color: #c7a762;
}
.form-check-input:checked {
    background-color: #c7a762;
    box-shadow: none;
    border-color: #fdf9ee;
}
.form-select:focus{
    border-color: #c7a762;
    box-shadow: none;
}
#imgDestacados{
    width: 100%;
}
.row{
    padding: 0;
    margin: 0;
}
.info{
    display: none;
}
.modal-body{
    max-width: 600px;
    width: 100%;
}
.thumbDestacados {
    max-width: 300px;
    position: relative;
}
.bgFavorito{
    background:#1d1d1d ;
    opacity: 0;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition:heigth 3s, opacity 1s;
    z-index: 1;
    font-size: 0.8rem;
    color: #c7a762;
    cursor: pointer;
}
.thumbDestacados:hover > .bgFavorito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    height: 25%;
    opacity: 60%;
}
.bgFavorito span .fa-shopping-cart,
.bgFavorito span .fa-star{
    font-size: 1rem;
}
.thumbDestacados:hover > .nombreProducto,
.thumbDestacados:hover > .valor {
    visibility: hidden;
}
.productos > .thumb:hover > .bgImagen, 
.productos > .thumb:hover > .verProducto{
    display: block;
}
.thumbDestacados:hover > .bgFavorito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    height: 25%;
    opacity: 60%;
}
.productos:hover{
    animation-duration: 2s;
    animation-name: rotarImagen;
    animation-delay: 0.5s;
}
.verProducto{
    display: none;
    font-size: 1em;
    color:#1d1d1d;
    text-transform: uppercase;
}
.bgImagen{
    display: none;
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    background:radial-gradient(circle, white 0%, #dd9d14 70%, #d8a73d 100% );    
    opacity: 30%;
}
#logo,
.navbar,
#contactanos,
#redes{
    animation-duration: 1s;
    animation-name: moveFromLeft;
}
/* .navbar-toggler{
    display: none;
} */
@keyframes rotarImagen{
    0% {
        transform: rotatey(90deg);
    }
    100% {
        transform: rotatey(0deg);
    }
}
@keyframes moveFromLeft{
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
/* @media only screen and (max-width:700px) {
    .navbar-toggler{
        display: block;
    }
} */
@media only screen and (min-width:500px) and (max-width:992px){
    .nav-link.fs-4 {
        font-size: 1rem;
    }
    #logo > img{
        width: 2.5rem;
    }
    nav .container-fluid{
        padding: 0;
    }
    .input-grup>.form-control{
        min-width: 120px;
    }
    #formContacto{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 500px){
    #logo > img{
        width: 2rem;
    }
    nav .container-fluid{
        padding: 0;
    }
    .navbar >.container-fluid{
        justify-content: center;
    }
    #formContacto{
        margin-top: 3rem;
    }
    
}