* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

#encabezado {
  background-color: #fdf9ee;
  z-index: 9999; }
  #encabezado #logo, #encabezado #logo .logo-img {
    max-width: 3.5rem; }
  #encabezado .fa-user {
    color: #c7a762;
    font-size: 1.5rem; }
  #encabezado .form-control:focus {
    border: 2px solid #c7a762;
    box-shadow: none; }
  #encabezado a:hover {
    border-bottom: 1px solid #c7a762; }
  #encabezado .nav-link:hover, #encabezado .nav-link:focus {
    color: #c7a762; }
  #encabezado .dropdown-toggle:hover {
    color: #1d1d1d; }
  #encabezado .dropdown-item:hover {
    background-color: #c7a762;
    color: #ffffff; }

.banner-medio {
  max-width: 75rem; }
  .banner-medio .item-1 {
    max-width: 35rem;
    max-height: 31.87;
    min-height: 20rem; }
    .banner-medio .item-1:hover {
      transform: scale(1.1, 1.1); }
    .banner-medio .item-1 .bg-banner-4 {
      background-image: url("../imagenes/banner-4.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120%;
      width: 100%;
      height: 100%;
      max-height: 31.87rem; }
  .banner-medio .contenedor-items-2-3 {
    max-width: 35rem;
    max-height: 31.87rem; }
    .banner-medio .contenedor-items-2-3 .item-2, .banner-medio .contenedor-items-2-3 .item-2 .img-item-2,
    .banner-medio .contenedor-items-2-3 .item-2 .img-item-3,
    .banner-medio .contenedor-items-2-3 .item-3 .img-item-2,
    .banner-medio .contenedor-items-2-3 .item-3 .img-item-3,
    .banner-medio .contenedor-items-2-3 .item-3 {
      max-width: 35rem;
      max-height: 15rem; }
      .banner-medio .contenedor-items-2-3 .item-2:hover, .banner-medio .contenedor-items-2-3 .item-2 .img-item-2:hover,
      .banner-medio .contenedor-items-2-3 .item-2 .img-item-3:hover,
      .banner-medio .contenedor-items-2-3 .item-3 .img-item-2:hover,
      .banner-medio .contenedor-items-2-3 .item-3 .img-item-3:hover,
      .banner-medio .contenedor-items-2-3 .item-3:hover {
        transform: scale(1.1, 1.1); }

#datosContacto #maps, #datosContacto #maps iframe {
  max-width: 28rem; }
  #datosContacto #maps iframe {
    border: 0;
    width: 100%;
    height: 22rem; }

.card {
  max-width: 18rem;
  width: 100%;
  max-height: 26.87rem; }
  .card:hover {
    animation-duration: calc(var(--animate-duration) * 0.75);
    backface-visibility: visible !important;
    animation-name: flipOutY; }
    .card:hover .bgImagen,
    .card:hover .verProducto {
      visibility: visible !important; }
  .card .bgImagen {
    visibility: hidden !important;
    max-width: 16.5rem;
    max-height: 22.5rem;
    background: radial-gradient(circle, #ffffff 0%, #dd9d14 70%, #d8a73d 100%);
    opacity: 30%; }
  .card .verProducto {
    visibility: hidden;
    color: #1d1d1d; }
  .card .cardLink {
    text-decoration: none !important; }
    .card .cardLink:hover {
      color: #c7a762;
      font-weight: 600; }

.img-map {
  max-width: 26.5rem;
  width: 100%; }

#imgDestacados .modal .bg-pastel, #aros .modal .bg-pastel, #anillos .modal .bg-pastel, #relojes .modal .bg-pastel, #collares .modal .bg-pastel {
  background-color: #fdf9ee; }

#formRegistro, #formContacto, #formCuenta {
  background-color: #fdf9ee;
  max-width: 25rem; }
  #formRegistro .form-control, #formContacto .form-control, #formCuenta .form-control {
    border: 1px solid #c7a762; }
    #formRegistro .form-control:focus, #formContacto .form-control:focus, #formCuenta .form-control:focus {
      border: 2px solid #c7a762;
      outline: none;
      box-shadow: none; }

.form-select {
  border: 1px solid #c7a762;
  width: 100%; }
  .form-select:focus {
    border: 2px solid #c7a762;
    outline: none;
    box-shadow: none; }

.form-check-input:checked {
  background-color: #c7a762;
  border: 1px solid #fdf9ee;
  box-shadow: none; }

#formContacto {
  background: none;
  max-width: 28rem;
  height: 22rem; }
  #formContacto .textarea {
    height: 180px; }

#formCuenta {
  max-height: 37.5rem; }
  #formCuenta .form-check-input:focus {
    box-shadow: none;
    background-color: #c7a762;
    border: 2px solid #c7a762; }

.colorBrown {
  color: #c7a762; }

.btn {
  background-color: #c7a762;
  min-width: 4rem;
  color: #ffffff;
  border: outset;
  padding: 0.8rem;
  opacity: 80%; }
  .btn:hover {
    background-color: #c7a762;
    border: 1px solid #ffffff;
    opacity: 100;
    box-shadow: none; }
  .btn:focus {
    background-color: #1d1d1d;
    color: #c7a762; }

#footer {
  background-color: #1d1d1d;
  max-height: 16.25rem;
  color: #c7a762; }

.navbar,
#logo,
#encabezado #logo .logo-img,
#contactanos,
#redes {
  animation-duration: 1s;
  animation-name: moveFromLeft; }

.img-thumb {
  max-width: 18rem;
  width: 100%; }

.title {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 6vw;
  top: 15%;
  left: 5%;
  z-index: 9; }

.textDestacado h2 {
  font-size: 2em; }

.textDestacado p {
  font-size: 1.5em; }

.nombreProducto {
  font-size: 1.2em; }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@-webkit-keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

@media only screen and (min-width: 500px) and (max-width: 992px) {
  .nav-link.fs-4 {
    font-size: 1rem; }
  .input-grup .form-control {
    min-width: 120px; }
  .search-dropdown {
    width: 100%;
    justify-content: space-between; }
  #formContacto {
    margin-top: 3rem; } }

@media only screen and (max-width: 500px) {
  #formContacto {
    margin-top: 3rem; }
  .search-dropdown {
    width: 100%;
    justify-content: space-between; }
  .modal-responsive {
    flex-direction: column;
    justify-content: center; }
  .modal-footer bg-pastel {
    justify-content: space-evenly; }
  .img-thumb {
    width: 60%; }
  .textDestacado h2 {
    font-size: 1.8em; }
  .textDestacado p {
    font-size: 1.2em; }
  .nombreProducto {
    font-size: 1em; } }
