
@keyframes moveFromLeft{
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes flipOutY {
    from {
        transform: perspective(400px);
    }
    30% {
        transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
        opacity: 1;
    }
    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}
@keyframes flipOutY {
    from {
        transform: perspective(400px);
    }
    30% {
        transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
        opacity: 1;
    }
    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}