@mixin border($direction, $width, $style, $color) {
    @if $direction {
        border-#{$direction}: $width $style $color;
    } @else {
        border: $width $style $color;
    }
}
@mixin background($url, $color, $direction, $repeat, $size) {
    @if $url {
        background-image: url($url);
        background-position: $direction;
        background-repeat: $repeat;
        background-size: $size;
    } @else {
        background-color: $color;
    }
}