@mixin border($direction, $width, $style, $color) {
    @if $direction {
        border-#{$direction}: $width $style $color;
    } @else {
        border: $width $style $color;
    }
}
@mixin background($url, $color, $direction, $repeat, $size) {
    @if $url {
        background-image: url($url);
        background-position: $direction;
        background-repeat: $repeat;
        background-size: $size;
    } @else {
        background-color: $color;
    }
}
@mixin bg-efect($url, $width, $height ) {
    @include background($url, null, center, no-repeat, cover);
    max-width: $width;
    width: 100%;
    height:$height;
    // width: 100%;
    // height: 100%;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}