@media only screen and (min-width:500px) and (max-width:992px) {
    .nav-link.fs-4 {
        font-size: 1rem;
    }
    .logo-img {
        width: 2.5rem;   
    }
        
    nav {
        .container-fluid {
            padding: 0;
        }
    }
    
    .input-grup {
        .form-control {
            min-width: 120px;
        }
    }
    
    #formContacto {
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 500px) {
    .logo-img {
        width: 2rem;   
    }
    nav {
        .container-fluid {
            padding: 0;
        }
    }
    .navbar {
        .container-fluid {
            justify-content: center;
        }
    }
    #formContacto {
        margin-top: 3rem;
    }
    
}