@media only screen and (min-width:500px) and (max-width:992px) {
    .nav-link.fs-4 {
        font-size: 1rem;
    }   
    .input-grup {
        .form-control {
            min-width: 120px;
        }
    }
    .search-dropdown {
        width: 100%;
        justify-content: space-between;
    }
    #formContacto {
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 500px) {
    #formContacto {
        margin-top: 3rem;
    }
    .search-dropdown {
        width: 100%;
        justify-content: space-between;
    }
}