@import"./variables";
@import "./mixin";
* {
    font-family: $roboto;
    margin: 0;
    padding: 0;
}

#encabezado { 
    @include background(null, $pastel, '', '', '');
    z-index: 9999;
    #logo {
        max-width: 3.5rem;
        .logo-img {
            @extend #logo;
        }
    }
    
    .fa-user {
        color: $dorado;
        font-size: 1.5rem;
    }
    .form-control:focus {
        @include border(null, 2px, solid, $dorado);
        box-shadow: none;
    }
    a:hover {
        @include border('bottom', 1px, solid, $dorado);
    }
    .nav-link {
        &:hover,
        &:focus {
            color:$dorado;
        } 
    }
    .dropdown-toggle:hover {
        color: $oscuro;
    }
    .dropdown-item:hover {
        @include background(null, $dorado, '', '', '');
        color: $blanco;
    }
}
.banner-medio {
    max-width: 75rem;
    .item-1 {
        max-width: 35rem;
        max-height:31.87;
        min-height: 20rem;
        &:hover{
            transform: scale(1.1,1.1);
        } 
        .bg-banner-4 {
            @include background('../imagenes/banner-4.jpg', null, center, no-repeat, 120%);
            width: 100%;
            height: 100%;
            max-height: 31.87rem;
        }
    }    
    .contenedor-items-2-3 {
        max-width: 35rem;
        max-height: 31.87rem;
        .item-2,
        .item-3 {
            max-width: 35rem;
            max-height:15rem;
            &:hover {
                transform: scale(1.1,1.1);
            }
            .img-item-2,
            .img-item-3 {
                @extend .item-2;
            }
        }
    }    
}
#datosContacto {
    #maps{
        max-width: 28rem;
        iframe {
            @extend #maps;
            border: 0;
            width: 100%;
            height: 22rem;
        }
    }
}
.card {
    max-width: 18rem;
    width: 100%;
    max-height: 26.87rem;
    &:hover {
        animation-duration: calc(var(--animate-duration) * 0.75);
        backface-visibility: visible !important;
        animation-name: flipOutY;
        .bgImagen, 
        .verProducto {
            visibility: visible!important;
        }
    }
    .bgImagen {
        visibility: hidden!important;
        max-width: 16.5rem;
        max-height: 22.5rem;
        background:radial-gradient(circle, $blanco 0%, $dorado-oscuro 70%, $dorado-oscuro-2 100% );    
        opacity: 30%;        
    }
    .verProducto {
        visibility:hidden;
        color:$oscuro;
    }
    .cardLink {
        text-decoration: none !important;
        &:hover {
            color: $dorado;
            font-weight: 600;
        }
    }
}
.img-map {
    max-width: 26.5rem;
    width:100%
}
#imgDestacados {
    .modal {
        .bg-pastel {
            @include background(null, $pastel, '', '', '');
        }
    }
}
#aros,
#anillos,
#relojes,
#collares {
    @extend #imgDestacados;
}

#formRegistro {
    @include background(null, $pastel, '', '', '');
    max-width: 25rem;
    .form-control {
        @include border(null, 1px, solid, $dorado);       
        &:focus {
            @include border(null, 2px, solid, $dorado);
            outline: none;
            box-shadow: none;
        }
    }
}

.form-select {
    @include border(null, 1px, solid, $dorado);
    width: 100%;
    &:focus {
        @include border(null, 2px, solid, $dorado);
        outline: none;
        box-shadow: none;
    }
}
.form-check-input{
    &:checked {
        @include background(null, $dorado, '', '', '');
        @include border(null, 1px, solid, $pastel);
        box-shadow: none;
    }
}
#formContacto {
    @extend #formRegistro;
    background: none;
    max-width: 28rem;
    height: 22rem;
    .textarea {
        height: 180px;
    }

}

#formCuenta {
    @extend #formRegistro;
    max-height: 37.5rem;   
    .form-check-input {
        &:focus {
            box-shadow: none; 
            @include background(null, $dorado, '', '', '');
            @include border(null, 2px, solid, $dorado);
        }        
    }
}

.colorBrown{
    color: $dorado;
}

.btn {
    @include background(null, $dorado, '', '', '');
    min-width: 4rem;
    color: $blanco;
    border: outset;
    padding: 0.8rem;
    opacity: 80%;

    &:hover {
        @include background(null, $dorado, '', '', '');
        @include border(null, 1px, solid, $blanco);
        opacity: 100;
        box-shadow: none;
    }
    &:focus {
        @include background(null, $oscuro, '', '', '');
        color: $dorado;
    }
}
#footer {
    @include background(null, $oscuro, '', '', '');
    max-height: 16.25rem;
    color: $dorado;
}

.navbar,
#logo,
#contactanos,
#redes {
    animation-duration: 1s;
    animation-name: moveFromLeft;
}
.img-thumb {
    max-width: 18rem;
    width: 55%;
}
.title {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 6vw;
    top: 15%;
    left: 5%;
    z-index: 9;
}
.textDestacado {
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }   
}
.nombreProducto {
    font-size: 1.2em;
}


@import"./animaciones";
@import"./responsive";
