@import"./variables";
@import "./mixin";

* {
    font-family: $roboto;
    margin: 0;
    padding: 0;
}
#encabezado {
    width: 100%; 
    background: $pastel;  
    z-index: 9999;
    .logo-img {
        max-width: 3.5rem;
        width: 100%;
    }
    .fa-user {
        color: $dorado;
        font-size: 1.5rem;
    }
    .form-control:focus {
        // border: 2px solid $dorado;
        @include border(null, 2px, solid, $dorado);
        box-shadow: none;
    }
    a:hover {
        // border-bottom: 2px solid $dorado ;
        @include border('bottom', 1px, solid, $dorado);
    }
    .nav-link:focus {
        color:$dorado;
    } 
    .nav-link:hover {
        color:$dorado ;
    }
    .dropdown-toggle:hover {
        color: $oscuro;
    }
    .dropdown-item:hover {
        background: $dorado;
        color: $blanco;
    }
}

.banner2 {
    max-width: 1200px;
    height: 100%;
    max-height: 510px;
    .item-1 {
    max-width: 580px; 
    }
    .item-2-3 {
        max-width: 560px;
        max-height: 510px;
        height: 100%;
    }
    .item-2,
    .item-3 {
        max-width: 560px;
        max-height:243px;
    }
    .item-1 img {
        max-width: 580px;
        width: 100%;
        height: auto;
        
    }
    .item-3 img,
    .item-2 img {
        max-width: 560px;
        width: 100%;
        max-height:240px;
        height: 100%;
    }    
    .bg-banner-4 {
        background: url('../imagenes/banner-4.jpg') center center no-repeat;background-size:120%;
        width: 100%;
        height: 100%;
        max-height: 550px;
    }    
    .item-1,
    .item-2,
    .item-3 {
        &:hover {
            transform: scale(1.1,1.1);
        }
    }
}
#datosContacto {
    #maps{
        width: 100%;
        max-width: 450px;
        iframe {
            border: 0;
            width: 100%;
            max-width: 450px;
            height: 350px;
        }
    }

    #formContacto {
        width: 100%;
        max-width: 450px;
        height: 350px;
        .select,
        .form-control {
            // border: 1px solid $dorado;
            @include border(null, 1px, solid, $dorado);
            width: 100%;
        }
        #exampleFormControlTextarea1 {
            height: 180px;
        }        
        .form-check-input:checked {
            background-color: $dorado;
            box-shadow: none;
            border-color: $pastel;
        }
        .form-control:focus {
            // border: 2px solid $dorado;
            @include border(null, 2px, solid, $dorado);
            outline: none;
            box-shadow: none;
        }
        .form-select {
            border-color: $dorado;
        }
        .form-select:focus {
            @include border(null, 2px, solid, $dorado);
            box-shadow: none;
        }
    }    
}
.card {
    height: 430px;
    &:hover {
        animation-duration: 2s;
        // animation-name: rotarImagen;
        animation-delay: 0.5s;
        .bgImagen, 
        .verProducto {
            visibility: visible!important;
        }
    }
    .bgImagen {
        visibility: hidden!important;
        max-width: 263px;
        max-height: 360px;
        height: 100%;
        width: 100%;
        background:radial-gradient(circle, $blanco 0%, $dorado-oscuro 70%, $dorado-oscuro-2 100% );    
        opacity: 30%;        

    }
    .verProducto {
        visibility:hidden;
        font-size: 1em;
        color:$oscuro;
        text-transform: uppercase;
    }
    img {
        max-width: 300px;
        width: 100%;
    }
    .cardLink {
        text-decoration: none !important;
        &:hover {
            color: $dorado;
            font-weight: 600;
        }
    }
    .modal-dialog{
        max-width: 570px;
    }
    .cardLink+.cardLink {
        margin-left: 0.25rem;
    }
}

#formCuenta,
#formRegistro {
    background: $pastel;
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    .registro {
        height: 350px;
    }
    #from {
        width: 130px;
        border: $blanco;
    }
    .select,
    .form-control {
        // border: 1px solid $dorado;
        @include border(null, 1px, solid, $dorado);
        width: 100%;       
    }
    .form-control:focus {
        // border: 2px solid $dorado;
        @include border(null, 2px, solid, $dorado);
        outline: none;
        box-shadow: none;
    }
    .form-select:focus {
        border-color: $dorado;
        box-shadow: none;
    }
    .form-check-input:checked {
        background-color: $dorado;
        box-shadow: none; 
        border-color: $dorado;   
    }
    .form-check-input:focus {
        border-color: $dorado;
        box-shadow: none;
    }
}

.colorBrown{
    color: $dorado;
}

.btn{
    padding: 0.5rem;
    background: $dorado; 
    color: $blanco;
    border: outset;
    opacity: 80%;

    &:hover {
        background: $dorado;
        opacity: 100;
        box-shadow: none;
        border-color: $blanco;
    }

    &:focus {
        background: $oscuro;
        color: $dorado;
    }
}

.row {
    padding: 0;
    margin: 0;
}

#footer {
    margin: 1rem 0 0 0;
    background:  $oscuro;
    width: 100%;
    max-height: 260px;
    height: 100%;
    color: $dorado;
}

#logo,
.navbar,
#contactanos,
#redes{
    animation-duration: 1s;
    animation-name: moveFromLeft;
}
@import"./animaciones";
@import"./responsive";